.form-page {
  margin: 0px;

  width: 100%;
  height: 100vh;
  background-color: #f8f1e8;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  margin-top: 30px;
}

/* .form{
    background-color: #fff;

} */
